<h1>hello</h1>
{% for entry in entries %}
<ul>
    <li>No   : {{ entry.No }}</li>
    <li>MagX : {{ entry.MagX }}</li>
    <li>MagY : {{ entry.MagY }}</li>
    <li>MagZ : {{ entry.MagZ }}</li>
    <li>AccX : {{ entry.AccX }}</li>
    <li>AccY : {{ entry.AccY }}</li>
    <li>AccZ : {{ entry.AccZ }}</li>
    <li>Uv   : {{ entry.Uv }}</li>
    <li>Lx   : {{ entry.Lx }}</li>
    <li>Humi : {{ entry.Humi }}</li>
    <li>Temp : {{ entry.Temp }}</li>
    <li>Press: {{ entry.Press }}</li>
</ul>
{% endfor %}
